.info{
  display: flex;
}

.gender-M-status{
  display: block;
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 20px;
}

.Emergency-contact{
  display: block;
  float: left;
}
.gender_M-status{
  display: flex;
}
.Contact-address{
   align-items: right;
   display: block;
   float: right;
  margin-right: 10px;
  margin-left: 160px;
}
.solid-line{
  border: none;
  border-bottom: 1.4px solid #000;
  padding: 2px 1px;
  outline: none;
  background: transparent;
}
.attachments{
  top: auto;
  display: block;
  margin-left: 40px;
}
.fees{
  display:inline-block;
  margin-left: 80px;
}
.container{
  display: flex;
}
.bar{
  background-color: #4b8c58;
} 